# Python Einführung

Hier wollen Python kennen lernen.

Dies ist eine Markdown-Zelle, in der man ein Kontext für den Code gebene kann.

## Erste Anweisung

In [2]:
print("Hello world!")

Hello world!

## Kommentare

In [3]:
# This is a comment
print("Something")

Something

## Einfache Datentypen

In [4]:
# Variablen und Wertezuweisung (Value-Assignment)
name = "Hawkings"
print(name)

Hawkings

In [2]:
# String - Zeichenkette
name = "Darwin"
print(name)

Darwin

In [3]:
# Integer - Ganzzahlen
age = 73
print(age)

73

In [4]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [5]:
# Boolean - Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [6]:
# Typen anzeigen lassen
type(name)

str

In [7]:
# Der letzte Rückgabewert wird von Jupyter Notebook ausgeben
name
age

73

In [8]:
# Wenn man andere Werte ausgebene haben möchte muss man "print" nutzen
print(name)
print(age)

Darwin
73

## Operatoren

In [9]:
# Additiona von Integers
5 + 5

10

In [10]:
# Multiplikation
age * 100

7300

In [11]:
# String werde x-mal dargestellt
name * 10

'DarwinDarwinDarwinDarwinDarwinDarwinDarwinDarwinDarwinDarwin'

In [12]:
# Geht nicht
name + 10

TypeError: can only concatenate str (not "int") to str

In [13]:
name + name

'DarwinDarwin'

In [14]:
name + "10" # jetzt ist "10" ein String

'Darwin10'

In [15]:
# Division
size/age

0.023456164383561642

In [16]:
type(size)

float

In [17]:
number_of_articles = "50"

In [18]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [19]:
# String erst in Integer umwandeln
int(number_of_articles) / 10

5.0

## Funktionen und Methoden nutzen

In [20]:
len(name)

6

In [21]:
name.upper()

'DARWIN'

In [22]:
name

'Darwin'

In [23]:
upper_name = name.upper()

In [24]:
name.upper()

'DARWIN'

In [25]:
# Methode mit zwei Argmenten
name.replace("w", "BLAAAAA")

'DarBLAAAAAin'

In [26]:
first_name = "Anna"

In [27]:
first_name.count("A")

1

In [28]:
first_name + " " + name

'Anna Darwin'

## Listen und Dictionaries

In [29]:
# Liste
names = ["Darwin", "Hawkins", "Curie"]

In [30]:
names[0]

'Darwin'

In [31]:
names[1]

'Hawkins'

In [32]:
names[2]

'Curie'

In [33]:
names[-1]

'Curie'

In [34]:
upper_name[0]

'D'

In [35]:
upper_name[1]

'A'

In [36]:
names[0:1]

['Darwin']

In [37]:
# Slicing
names[0:2]

['Darwin', 'Hawkins']

In [38]:
authors_and_ages = {"Darwin": 73, "Goethe": 80, "Schiller": 50}

In [39]:
authors_and_ages["Darwin"]

73

In [40]:
authors_and_ages["DARWIN"]

KeyError: 'DARWIN'

In [41]:
authors_and_ages = {"Darwin": 73, 
                    "Goethe": 80, 
                    "Schiller": 50, 
                    70: "Darwin"}

In [42]:
authors_and_ages[70]

'Darwin'

# for-Schleifen

In [43]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawkins is a great name
Curie is a great name

In [44]:
for name in ["Darwin", "Hawkins", "Curie"]:
    print(name + " is a great name")

print("-----")

Darwin is a great name
Hawkins is a great name
Curie is a great name
-----

## Bedingte Anweisungen (Conditionals)

In [45]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [46]:
20 > 15

True

In [47]:
20 > 70

False

In [48]:
temp = 10
if temp > 15:
    print("It's warm")

In [49]:
temp = 10
if temp > 15:
    print("It's warm")   
else:
    print("It's cold")

It's cold

In [50]:
temp = 15
if temp >= 25:
    print("It's hot") 
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm